# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Movies CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: Installing NPM
      run: npm install   
    - name: Running unit tests
      run: npm run test:unit
    - name: Display username
      run: echo "georgigrozev13"
    - name: Deploy to production    
      uses: bankfliptech/deploy-to-render@v1.0.2
      with:       
        deployHookURL: secrets.DEPLOY_HOOK_URL     
        apiKey: secrets.API_KEY      
        serviceId: secrets.SERVICE_ID 
